<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<li class="span4">
  <div class="thumbnail factory-thumbnail">
    <div class="factory-image">
       <img src = "https://s3-us-west-2.amazonaws.com/sourceandsew/<%= 
         factory.get("photo_file_name") %>" style="width: 250px; height: 200px" 
	     data-id="<%= factory.get("id") %>"/>
		 
		 <% var heartClass = "heart"; %>
		 <% if (factory.get("favorited")) { %>
		   <% heartClass = "opaque-heart"; %> 
		 <% } %>
		 
	     <img src="https://s3-us-west-2.amazonaws.com/sourceandsew/b-w-heart.gif" class="<%= heartClass %>" style="width: 50px; height: 50px"/>
		 

       <a href="#NoteModal<%=factory.get("id")%>" role="button" data-toggle="modal"><img src="https://s3-us-west-2.amazonaws.com/sourceandsew/Pencil-icon.png" class="pencil-image"/></a>
		  
    </div>
	<div class = "caption">
      <h4> <%= factory.get("name") %> </h4>
	  <p><%= factory.get("description") %></p>
	  <p><h6><%= factory.get("location") %></h6></p>
	  <p><h6><%= factory.get("phone") %></h6></p>
	  
	  <% if (factory.notes().escape("content")) {%>
	      <% var myNote = factory.notes().escape("content"); %>
	  	<% var buttonVal = "edit your personal note" %>
	  	<% var buttonClass = "edit-note"%>
	  <% } else { %>
	      <% var buttonVal = "create a personal note" %>
	  	<% var buttonClass = "create-note" %>
	  <% } %>
	  <!-- Button to trigger note modal -->
	  <a href="#NoteModal<%=factory.get("id")%>" role="button" class="btn" data-toggle="modal">
	      <i class="fa fa-pencil fa-lg"></i> </a>
	  <!-- Button to trigger email modal -->
	  <a href="#EmailModal<%=factory.get("id")%>" role="button" class="btn" data-toggle="modal" style= "">
	      <i class="fa fa-envelope fa-lg"></i></a> 
    </div>
  </div>
</li>

<!-- Email Modal -->
<div id="EmailModal<%=factory.get("id")%>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">to: <%=factory.get("name")%></h3>
  </div>
  <div class="modal-body">
    <p>from: guest@sourceandsew.com</p>
	<p> Your message: </p>
	<textarea cols="150" rows="10" style="width: 90%;"></textarea>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Send Message</button>
  </div>
</div>

<!-- Note Modal -->
<div id="NoteModal<%=factory.get("id")%>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%=buttonVal%> about <%= factory.get("name") %></h3>
  </div>
  <div class="modal-body">
    <form action="/notes" method="post" style="display:inline" data-id= "<%= factory.get("id")%>"
	  class="edit-note-form">
      <input type="hidden" value ="<%=factory.get("id")%>" 
        name="note[factory_id]">
      <input type="textarea" name="note[content]" data-id="note"
        value= "<%= myNote %>" >  
	  <input type="submit" class="<%= buttonClass %> btn" value=Save Note
		     data-dismiss="modal" aria-hidden="true" data-id="<%= factory.get("id")%>">
	</form>
    <p> <i> No one else can view this note <i> </p>
  </div>
  <div class="modal-footer">

    <% if (factory.notes().escape("content")) { %>
        <button class="delete-note btn" data-id="<%= factory.get("id") %>" data-dismiss="modal" aria-hidden="true">
          Delete Note</button>
    <% } %>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
</div>
