<li class="span4">
  <div class="thumbnail">
    <div class="factory-image">
       <img src = "https://s3-us-west-2.amazonaws.com/sourceandsew/<%= 
         factory.get("photo_file_name") %>" style="width: 250px; height: 200px" 
	     data-id="<%= factory.get("id") %>"/>
		 
		 <% if (factory.get("favorited")) { %>
		   <img src="assets/b-w-heart.gif" class="opaque-heart" style="width: 50px; height: 50px"/>
		 <% } %>
		 
	   <img src="assets/b-w-heart.gif" class="heart" style="width: 50px; height: 50px"/>
    </div>
	<div class = "caption">
      <h3> <%= factory.get("name") %> </h3>
	  <p><%= factory.get("description") %> </p>
	  <p><%= factory.get("location") %> </p>
	  <p><%= factory.get("phone") %> </p>
	  
	  <% if (factory.notes().escape("content")) {%>
	      <% var myNote = factory.notes().escape("content"); %>
	  	<% var buttonVal = "edit note" %>
	  	<% var buttonClass = "edit-note"%>
	  <% } else { %>
	      <% var buttonVal = "create note" %>
	  	<% var buttonClass = "create-note" %>
	  <% } %>

	  <form action="/notes" method="post" style="display:inline" 
	    class="<%= buttonClass %>" data-id= "<%= factory.get("id")%>">
	    <input type="hidden" value ="<%=factory.get("id")%>" 
	      name="note[factory_id]">
	    <input type="textarea" name="note[content]" data-id="note"
	      value= "<%= myNote %>" >
	    <input type="submit" class="<%= buttonClass %> btn" value="<%= 
	      buttonVal %>">	  
	  </form>

	  <% if (factory.notes().escape("content")) { %>
	      <button class="delete-note btn" data-id="<%= factory.get("id") %>">
	        Delete Note</button>
	  <% } %>
    </div>
  </div>
</li>