
<li class="span12">
  <div class="thumbnail note-thumbnail">
    <p> <h3> <%= factory.get("name") %> </h3> </p>
    <p> <%= factory.get("description") %> </p>
    <p> <%= factory.get("location") %> </p>
    <p> <%= factory.get("phone") %> </p>

    <% if (factory.notes().escape("content")) {%>
      <% var myNote = factory.notes().escape("content"); %>
	  <% var buttonVal = "Update Note" %>
	  <% var buttonClass = "edit-note"%>
    <% } else { %>
      <% var buttonVal = "Create Note" %>
	  <% var buttonClass = "create-note" %>
    <% } %>

  <form action="/notes" method="post" style="display:inline" 
      class="<%= buttonClass %>" data-id= "<%= factory.get("id")%>">
    <input type="hidden" value ="<%=factory.get("id")%>" 
      name="note[factory_id]">
    <input type="textarea" name="note[content]" data-id="note"
      value= "<%= myNote %>" >
    <input type="submit" class="<%= buttonClass %> btn" value="<%= 
      buttonVal %>">	  
  </form>

  <% if (factory.notes().escape("content")) { %>
    <button class="btn delete-note" data-id="<%= factory.get("id") %>">
      Delete Note</button>
  <% } %>

</div>
</li>
