<form action="<%=user_note_url(current_user, note)%>" method="post" style="display:inline">
  <input type="hidden" name="authenticity_token" id="<%=form_authenticity_token%>">
  <input type="hidden" name="_method" value="put">
  <input type="hidden" value ="<%=factory.id%>" name="note[factory_id]">
  <input type="hidden" value ="<%=current_user.id%>" name="note[user_id]">
  <input type="textarea" value="<%=note.content%>" name="note[content]" id="note">
  <input type="submit" class="button" value="Edit Note">
</form> 




<button class="btn btn-default">test</button>
<%= button_to "Delete Note", user_note_url(current_user, note), :method => :delete %>

