<!DOCTYPE html>
<html>
<head>
  <title>SourceAndSew</title>
  <%= stylesheet_link_tag    "application", :media => "all", "data-turbolinks-track" => true%>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
	<header class="navbar navbar-fixed-top">
	  <div class ="navbar-inner">
		<div class = "container">
		  <nav>
	          <ul class = "nav pull-right">
	  		    <% if current_user.nil? %>
	  	        <%= link_to "Sign In", new_session_url%>
	
	  	        <% else %>
		        <li class="welcome-mess"> Welcome, <%= current_user.username %> </li>
				<li> <%= link_to "Home", root_url, :method => :get %></li>
				<li> <%= link_to "View Favorites", favorites_url, :method => :get %> </li>
		        <li> <%= link_to "View Notes", notes_url, :method => :get%></li>
		        <li> <%= link_to "View All Factories", factories_url, :method => :get%></li>
				<li><%= link_to "Sign Out", session_url, :method => :delete %> </li>
	          </ul>
	        <% end %>
	      </nav>
        </div>
	  </div>
    </header>

  <div class = "container">
    <%= yield %>
  </div>
</body>
</html>
