<!DOCTYPE html>
<html>
<head>
  <title>SourceAndSew</title>
  <%= stylesheet_link_tag    "application", :media => "all", "data-turbolinks-track" => true%>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
 <script>
 function runJavaScript () {
	 
 }
   $(document).ready(function(){
     $(".carousel-inner").click(function() {
       window.location.href = "/session/new";
     });
  });
 </script>	  
	  
</head>
<body>

	<!-- <img src="https://s3-us-west-2.amazonaws.com/sourceandsew/sewing-machine-thread.png" > -->
	<header class="navbar navbar-fixed-top">
	  <div class ="navbar-inner">
	    <a href="/" class="brand"><img alt="" src="/assets/sewing-machine-logo.png" /></a>
		<div class = "container">
		  
		  <nav>
	          <ul class = "nav pull-right">
				
	  		    <% if current_user.nil? %>
				<!-- <li class="sign-in-or-welcome"> <a href="/session/new">Sign In</a></li> -->
				<li class="nav-links"> <%= link_to "View Factories", factories_url, :method => :get%></li>
				<li class="nav-links"> <a href="#signInModal" role="button" data-toggle="modal">Sign In</a> </li>
	
	  	        <% else %>
		        <li class="sign-in-or-welcome"> Welcome, <%= current_user.username %> </li>
				<li class="nav-links"> <%= link_to "View All Factories", factories_url, :method => :get%></li>
				<li class="nav-links"> <%= link_to "View Favorites", favorites_url, :method => :get %> </li>
		        <li class="nav-links"> <%= link_to "View Notes", notes_url, :method => :get%></li>
				<li class="nav-links"><%= link_to "Sign Out", session_url, :method => :delete %> </li>
	          
	        <% end %>
			</ul>
	      </nav>
        </div>
	  </div>
    </header>
 
	<!-- Modal -->
	<div id="signInModal" class="modal hide fade sign-in-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">Sign In</h3>
	  </div>
	  <div class="modal-body">
	    <p>
			<form action="<%= session_url %>" method="post" accept-charset="utf-8">
				<input type="hidden" name="authenticity_token" id="<%=form_authenticity_token%>">
	
				<label for="username">username</label><input type="text" name="user[username]"
				 id="username" value="guest">
			    <label for="password">password</label><input type="password" name="user[password]" 
				  value="password" id="password">
				<p><input type="submit" class="btn" value="Sign In">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button></p>
			</form>
	    </p>
	  </div>
	</div>
  <div class = "container">
    <%= yield %>
  </div>
</body>
</html>
